[submodule "notebooks"]
	path = notebooks
	url = git@github.com:andsor/notebooks.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "pelican-bootstrap3"]
	path = pelican-bootstrap3
	url = https://github.com/DandyDev/pelican-bootstrap3
