[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "plugins/mathjax"]
	path = plugins/mathjax
	url = https://github.com/barrysteyn/pelican_plugin-mathjax
[submodule "notebooks"]
	path = notebooks
	url = git@github.com:andsor/notebooks.git
